mixin videoPanel(video = {})
  .col-sm-6.col-md-4
    .thumbnail
      a(href=`/videos/${video._id}`)
        video(width="350" poster=`/uploads/${video.poster}`)
          source(src=`/uploads/${video.video}` type="video/mp4")
      p.fit  
        a(href=`/videos/${video.video}`) #{video.title}
      